__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
*.egg-info/
.DS_Store
.ipynb_checkpoints/
data/raw/*.csv
.ruff_cache/
.mypy_cache/
monitoring/inference_log.jsonl
frontend/node_modules/
frontend/.next/
